.cont
{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.item
{
    width: 200px; 
    height: 350px; 
    padding: 10px;
    background: url(../pic/hotel.jpg) no-repeat center center/300%;
    transition: 0.4s

}

.item:hover
{
    width: 200px; 
    height: 350px; 
    padding: 10px;
    background: url(../pic/hotel.jpg) no-repeat center center/500%;
    
}